*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: inter, sans-serif;
    color:#000
}

.page-header
{
    background: #000;
    justify-content: center;
    display: flex;
    padding: 28px 0 28px;
}

.header-image
{
    display: block;
}

.main-banner
{
    width: 100%;
    display: block;
}

.top-infocard
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-infocard-text
{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 766px;
    padding: 66px 0 66px;
}

.top-infocard-subtitle
{
    font-weight: 400;
    font-size: 32px;
    text-transform: uppercase;
}

.top-infocard-title
{
    font-weight: 500;
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.top-infocard-description
{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.top-infocard-image
{
    padding: 0 0 186px;
}

.top-cards
{
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 20px;
    padding: 0 0 80px;
    justify-content: center;
}

.top-card
{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    padding: 0 26px 26px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
}

.top-cards-image
{
    display: block;
}

.top-cards-description
{
    margin-bottom:  26px;
    max-width: 300px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.tcd-first
{
    margin-top: 38px;
}

.tcd-second
{
    margin-top: 26px;
}

.tcd-third
{
    margin-top: 30px;
}

.tci-first
{
    margin-top: 46px;
}

.tci-second
{
    margin-top: 36px;
}

.tci-third
{
    margin-top: 38px;
}

.middle-banner
{
    background: #E0E0E0;
}

.middle-banner-desktop
{
    margin-top: 80px;
}

.middle-banner-desktop-relative
{
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 32px;
    justify-content: center;
    position: relative;
    bottom: -50px
}

.middle-banner-desktop-image
{
    max-width: 340px;
    display: block;
}

.bottom-cards
{
    display: grid;
    grid-template-columns: repeat(4, max-content);
    gap: 16px;
    justify-content: center;
    padding: 138px 0 138px;
    margin-top: 70px;
}

.bottom-card
{
    max-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
}

.bottom-cards-image
{
    display: block;
    margin-top: 30px;
}

.bottom-cards-description
{
    max-width: 280px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    padding: 0 20px;
    margin-top: 30px;
    margin-bottom: 66px;
}

.bottom-infocard-desktop
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-infocard-desktop-title
{
    font-size: 32px;
    font-weight: 600;
}

.bottom-infocard-desktop-description
{
    max-width: 550px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    padding: 18px 0 32px;
}

.bottom-infocard-desktop-image
{
    max-width: 1000px;
    padding: 0 0 104px;
}

.page-footer
{
    background: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 38px 0;
}

.footer-icons
{
    display: flex;
    list-style: none;
    margin-bottom: 16px;
}

.footer-icon
{
    margin: 0 10px;
}

.footer-text
{
    color: #BDBDBD;
    font-size: 10px;
    text-align: center;
}

@media screen and (max-width: 768px)
{
    .top-infocard-text
    {
        max-width: 357px;
        width: 100%;
        padding: 84px 30px 76px;
    }

    .top-infocard-subtitle
    {
        font-weight: 400;
        font-size: 20px;
    }

    .top-infocard-title
    {
        font-weight: 500;
        font-size: 28px;
    }

    .top-infocard-description
    {
        font-weight: 400;
        font-size: 16px;
    }

    .top-infocard-image
    {
        max-width: 240px;
        width: 100%;
        padding: 0 0 80px;
    }

    .top-cards
    {
        grid-template-columns: 1fr;
        padding: 24px 32px;
        justify-content: center;
        align-content: center;
        margin-bottom: 50px;
    }

    .top-card
    {
        width: 100%;
        max-width: 700px;
    }

    .middle-banner-desktop
    {
        display: none;
    }

    .middle-banner-mobile-relative
    {
    }

    .middle-banner-mobile
    {
        position: relative;
        top: -30px;
    }

    .middle-banner-mobile-top
    {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        gap: 14px;
        justify-content: center;
        max-width: 100%;
        margin: 0 22px 22px;
        position: relative;
        bottom: -122px;
    }

    .middle-banner-mobile-bottom
    {
        display: grid;
        justify-content: center;
        position: relative;
        bottom: -122px;
    }

    .middle-banner-mobile-bottom-image
    {
        max-width: 368px;
        width: 100%;
    }

    .bottom-card
    {
        width: 100%;
        max-width: 700px;
    }

    .bottom-cards
    {
        grid-template-columns: 1fr;
        padding: 24px 32px;
        justify-content: center;
        align-content: center;
        margin-top: 202px;
    }

    .bottom-cards-description
    {
        max-width: 650px;
        font-size: 14px;
    }

    .bottom-infocard-desktop
    {
        display: none
    }

}

@media screen and (max-width: 414px)
{
    .main-banner-desktop
    {
        display: none;
    }

    .middle-banner-mobile-top
    {
        padding: 0px;
    }

    .middle-banner-mobile-top-image
    {
        max-width: 130px;
        width: 100%;
    }

    .middle-banner-mobile-bottom-image
    {
        max-width: 274px;
    }

    .bottom-infocard-mobile
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bottom-infocard-mobile-image
    {
        display: block;
        width: 100%;
    }

    .bottom-infocard-mobile-title
    {
        max-width: 200px;
        font-size: 22px;
        text-align: center;
    }

    .bottom-infocard-mobile-description
    {
        max-width: 200px;
        font-size: 12px;
        padding: 0 0 104px;
        text-align: center;
    }
}

@media screen and (min-width: 415px)
{
    .main-banner-mobile
    {
        display: none;
    }
}

@media screen and (min-width: 1200px)
{
    .middle-banner-mobile
    {
        display: none;
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px) 
{
    .top-cards
    {
        grid-template-columns: repeat(2, max-content);
    }

    .middle-banner-mobile
    {
        display: none;
    }

    .middle-banner-desktop-image
    {
        max-width: 200px;
    }

    .bottom-cards
    {
        grid-template-columns: repeat(2, max-content);
    }

    .bottom-card
    {
        max-width: 350px;
        padding: 0 26px 0;
    }

    .bottom-cards-description
    {
        max-width: 350px;
    }

    .bottom-infocard-desktop-image
    {
        max-width: 700px;
    }
}

@media screen and (min-width: 769px)
{
    .bottom-infocard-mobile
    {
        display: none;
    }
}

@media screen and (min-width: 415px) and (max-width: 768px)
{
    .bottom-infocard-mobile
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 0;
    }

    .bottom-infocard-mobile-image
    {
        display: block;
        width: 100%;
        max-width: 320px;
    }

    .bottom-infocard-mobile-title
    {
        margin-top: 51px;
        text-align: center;
    }

    .bottom-infocard-mobile-description
    {
        font-weight: 400;
        max-width: 350px;
        text-align: center;
        margin-top: 18px;
        display: block;
        padding: 0 0 104px;
    }
}